src/main/resources/wsdl/bank.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.nag.com/spring/soap/api/bankreg" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.nag.com/spring/soap/api/bankreg" targetNamespace="http://www.nag.com/spring/soap/api/bankreg">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.nag.com/spring/soap/api/bankreg">
<xsd:element name="BankingEnrollment">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="age" type="xsd:int"/>
<xsd:element name="state" type="xsd:string"/>
<xsd:element name="zipcode" type="xsd:string"/>
<xsd:element name="cardtype" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BankerDetails">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="id" type="xsd:int"/>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="age" type="xsd:int"/>
<xsd:element name="state" type="xsd:string"/>
<xsd:element name="zipcode" type="xsd:string"/>
<xsd:element name="cardtype" type="xsd:string"/>
<xsd:element name="results" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:portType name="BankingDetails"> </wsdl:portType>
<wsdl:binding name="BankingDetailsSoap11" type="tns:BankingDetails">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
</wsdl:binding>
<wsdl:service name="BankingDetailsService">
<wsdl:port binding="tns:BankingDetailsSoap11" name="BankingDetailsSoap11">
<soap:address location="http://localhost:8081/service"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>